<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Disaster event</title>
  </head>
  <header>
    <h1>Disaster message prediciton </h1>
  </header>
  <body>
    <form class="" action="/predict" method="post">
      <label for="location">Location:</label>
      <input type="text" name="location" id='location'>
      <label for="keyword">Keyword:</label>
      <input type="text" name="keyword" id='keyword'>
      <label for="message">Message:</label>
      <input type="text" name="message" id="message">
      <button type="submit" name="button">Predict</button>
    </form>
  </body>
</html>
